- content_for(:meta_title) do
  = @productcategory.name
- content_for(:meta_description) do
  = @productcategory.description
= render :partial => "products/sidecolumn2"
= link_to(icon("Rss 1"), product_category_url(@productcategory, :format => :rss), :class => "rss-icon-selected", :title => "Subscribe to RSS Feed")
-if @productcategory.permalink == "stock-footage" && RAILS_ENV == "development"
  - form_for :api_searches, :url => api_searches_path do |f|
    =f.text_field :vimeo_search
    =f.submit "search"
%h1= @productcategory.name
= @productcategory.body
%ul.product-list
  -@productcategory.products.each do |p|
    -if @productcategory.is_video?
      = render :partial => "/products/video", :locals => {:video => p, :size => :medium}
    -else
      = render :partial => "/products/product", :locals => { :product => p }
