%fieldset.video-form
  %dt.label=f.label :sku, "Video ID:"
  %dd.form-option= f.text_field :sku, :size => 10
  %dt.label=f.label :embed_code, "Embed Code:"
  %dd.form-option= f.text_area :embed_code, :size => "100x10", :class => "big"
  %dt.label= f.label :short_description, "Short Description:"
  %dd.form-option= f.text_area :short_description, :size => "50x5", :class => "big"
  %dt.label=f.label :resolution, "Resolution:"
  %dd.form-option= f.text_field :resolution, :class => "big"
  %dt.label=f.label :aspect, "Aspect:"
  %dd.form-option= f.text_field :aspect, :class => "big"
  %dt.label=f.label :map, "Map:"
  %dd.form-option= f.text_field :map, :class => "big"
  %dt.label= f.label :upc, "UPC:"
  %dd.form-option= f.text_field :upc, :class => "big"
  %dt.label= f.label :producer, "Producer:"
  %dd.form-option= f.text_field :producer, :class => "big"
  %dt.label=f.label :isbn_ten, "ISBN-10:"
  %dd.form-option= f.text_field :isbn_ten, :class => "big"
  %dt.label=f.label :isbn_thirteen, "ISBN-13:"
  %dd.form-option= f.text_field :isbn_thirteen, :class => "big"
  %dt.label=f.label :language, "Language:"
  %dd.form-option= f.text_field :language, :class => "big"
  %dt.label=f.label :vod, "VOD:"
  %dd.form-option= f.text_field :vod, :class => "big"
  %dt.label=f.label :video_length, "Video Length:"
  %dd.form-option= f.select_time("#{0.hours + 0.minutes + 0.seconds}", :time_separator => ':', :include_seconds => true), :video_length, :class => "big"
  %dt.label= f.label :trailer_length, "Trailer Length:"
  %dd.form-option= f.text_field :trailer_length, :class => "big"
  %dt.label= f.label :subtitled, "Subtitled:"
  %dd.form-option= f.text_field :subtitled, :class => "big"
  %dt.label= f.label :country, "Country:"
  %dd.form-option= f.text_field :country, :class => "big"
  %dt.label= f.label :region, "Region:"
  %dd.form-option= f.text_field :region, :class => "big"
  %dt.label= f.label :tag_list, "Tags"
  %dd.form-option
    = f.text_field :tag_list, :size => 60
    %br
    %span{:class => "small gray"} Separate words or phrases with a comma
  %dt.label 
    .top 
      %h2 Purchase Options
      %span{:class => "small gray"} Purchase links for each format 
  %dt.label= f.label :dvd, "DVD:"
  %dd= f.text_field :dvd
  %dt.label= f.label :itunes, "iTunes:"
  %dd=f.text_field :itunes
  %dt.label=f.label :pc_to_tv, "PC to TV/Computer:"
  %dd=f.text_field :pc_to_tv
  %dt.label=f.label :mobile, "Mobile Video:"
  %dd.form-option=f.text_field :mobile