%tr.video-form
  %td
    =f.label :sku, "Video ID:"
  %td
    = f.text_field :sku, :size => 10
%tr.video-form
  %td
    =f.label :embed_code, "Embed Code:"
  %td
    = f.text_area :embed_code, :size => "50x5", :class => "big"
%tr.video-form
  %td
    = f.label :short_description, "Short Description:"
  %td
    = f.text_area :short_description, :size => "50x5", :class => "big"
%tr.video-form
  %td
    =f.label :resolution, "Resolution:"
  %td
    = f.text_field :resolution, :class => "big"
%tr.video-form
  %td
    =f.label :aspect, "Aspect:"
  %td
    = f.text_field :aspect, :class => "big"
%tr.video-form
  %td
    =f.label :map, "Map:"
  %td
    = f.text_field :map, :class => "big"
%tr.video-form
  %td
    = f.label :upc, "UPC:"
  %td
    = f.text_field :upc, :class => "big"
%tr.video-form
  %td
    = f.label :producer, "Producer:"
  %td
    = f.text_field :producer, :class => "big"
%tr.video-form
  %td
    =f.label :isbn_ten, "ISBN-10:"
  %td
    = f.text_field :isbn_ten, :class => "big"
%tr.video-form
  %td
    =f.label :isbn_thirteen, "ISBN-13:"
  %td
    = f.text_field :isbn_thirteen, :class => "big"
%tr.video-form
  %td
    =f.label :language, "Language:"
  %td
    = f.text_field :language, :class => "big"
%tr.video-form
  %td
    =f.label :vod, "VOD:"
  %td
    = f.text_field :vod, :class => "big"
%tr.video-form
  %td
    =f.label :video_length, "Video Length:"
  %td
    = f.text_field :video_length, :class => "big"
%tr.video-form
  %td
    = f.label :trailer_length, "Trailer Length:"
  %td
    = f.text_field :trailer_length, :class => "big"
%tr.video-form
  %td
    = f.label :subtitled, "Subtitled:"
  %td
    = f.text_field :subtitled, :class => "big"
%tr.video-form
  %td
    = f.label :country, "Country:"
  %td
    = f.text_field :country, :class => "big"
%tr.video-form
  %td
    = f.label :region, "Region:"
  %td
    = f.text_field :region, :class => "big"
%tr.video-form
  %td.top= f.label :tag_list, "Tags"
  %td
    = f.text_field :tag_list, :size => 60
    %br
    %span{:class => "small gray"} Separate words or phrases with a comma
%tr.video-form 
  %td.top 
    %h2 Purchase Options
    %span{:class => "small gray"} Purchase links for each format 
%tr.video-form
  %td= f.label :dvd, "DVD:"
  %td= f.text_field :dvd
%tr.video-form
  %td= f.label :itunes, "iTunes:"
  %td=f.text_field :itunes
%tr.video-form
  %td=f.label :pc_to_tv, "PC to TV/Computer:"
  %td=f.text_field :pc_to_tv
%tr.video-form
  %td=f.label :mobile, "Mobile Video:"
  %td=f.text_field :mobile